<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3" src="assets/images/default-user-image.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <a href="#">example@example.com</a>
            <p>Join date: 2018-04-13</p>
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3" src="assets/images/default-user-image.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <a href="#">example@example.com</a>
            <p>Join date: 2018-04-13</p>
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="assets/images/default-user-image.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <a href="#">example@example.com</a>
            <p>Join date: 2018-04-13</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>