<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          Title
        </div>
        <div class="card-body">
          <img src="assets/images/post.jpg">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         
        </div>
        <div class="card-footer text-muted">
         2018-04-14
        </div>
      </div>
    </div>
  </div>
</div>